<div>
    <div *ngIf="credit">
        <p><strong>{{credit?.bank}}</strong></p>
        <p>{{credit?.balance}}</p>
        <p>{{credit?.user?.fullname}}
            <span>
                <button type="button" (click)="activeDepositFN()">Deposit credit</button>
        <input *ngIf="isUserAddingCredit" [(ngModel)]="creditToAdd" type="number">
                <button *ngIf="isUserAddingCredit" type="button" (click)="addDeposit(creditToAdd)">add credit</button>
            </span>
        </p>
        <button (click)="updateFormActivation(credit?._id)">update</button>
        <button type="button" (click)="deleteCreditCardController(credit?._id+'')">delete credit</button>
        
    </div>
    <div>
        <button *ngIf="!credit" (click)="createFormActivation()" >add credit</button>
        <div *ngIf="noCreditCard!== ''">You still don't have a credit card</div>
    </div>
    <div *ngIf="isCreateFormActive">
        <form [formGroup]="createCreditForm" (ngSubmit)="createCreditCardController()">
            <input type="text" formControlName="bank" required placeholder="Provide bank name">
            <input type="number" formControlName="balance" required placeholder="Enter your balance">
            <button>create</button>
        </form>
    </div>
    <div *ngIf="isUpdateFormActive">
        <form [formGroup]="updateCreditForm" (ngSubmit)="updateCreditCardController(credit?._id+'')">
            <input type="text" formControlName="bank">
            <input type="number" formControlName="balance" required placeholder="Enter your balance">
            <button type="submit">update credit</button>
        </form>
    </div>
</div>